<h2>Switch a dynamic component</h2>
<button *ngFor="let c of components; index as i" (click)="switchTo(i)">
    Render {{ c.label }}
</button>

<h2>And render it below</h2>
<div class="portal-outlet">
    <ng-template [cdkPortalOutlet]="selectedPortal"></ng-template>
</div>
